<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Admin Panel</title>
</head>
<body>
<ul>
  <li><h3><a href="/" th:text="#{navigation.home}">Home</a></h3></li>
<!--  <li><h3><a href="#" th:href="@{/users}" th:text="#{navigation.all-users}">All users</a></h3></li>-->
  <li><h3><a href="#" th:href="@{/cars}" th:text="#{navigation.all-cars}">All cars</a></h3></li>
  <li><h3><a th:href="@{/auth/logout}" href="#">Logout</a></h3></li>
</ul>

<!--<h2 th:text="#{admin.welcome}">Welcome Admin (design)!</h2>-->
<h2 th:text="${session.currentUser}"></h2>
<h2 th:if="${session.currentUser != null}" th:text="${session.currentUser}"></h2>
</body>
</html>
