<!DOCTYPE html>
<html lang="en" th:import="org.thymeleaf.util.StringUtils" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update car</title>
    <link href="../static/Styles.css" rel="stylesheet" th:href="@{/Styles.css}"/>
</head>
<body>

<form action="#" method="post" th:action="@{__${requestURI}__}" th:fragment="car-update-form"
      th:object="${carSaveRequest}">


    <label th:text="#{car.label.vin}">VIN</label>
    <br/>
    <input required th:field="*{vin}" type="text"/>
    <label class="error" th:errors="*{vin}">VIN error placeholder</label>
    <br/><br/>


    <label th:text="#{car.label.model-name}">Model name</label>
    <br/>
    <select id="dropDownList2" name="modelName" required th:field="*{modelName}">
        <option value="0">select option</option>
        <option th:each="model : ${models}" th:text="${model.modelName}"
                th:value="${model.modelName}"></option>
    </select>
    <label class="error" th:errors="*{modelName}">Model error placeholder</label>
    <br/><br/>

    <label th:text="#{car.label.price}">Price</label>
    <br/>
    <input required th:field="*{price}" type="text"/>
    <label class="error" th:errors="*{price}">Price error placeholder</label>
    <br/><br/>


    <label th:text="#{car.label.fuelType}">Fuel type</label>
    <br/>
    <select id="dropDownList" name="fuelTypeName" required th:field="*{fuelTypeName}">
        <option value="">select option</option>
        <option th:each="fuelType : ${fuelTypes}" th:text="${fuelType.fuelTypeName}"
                th:value="${fuelType.fuelTypeName}"></option>
    </select>
    <br/><br/>


    <label th:text="#{car.label.transmissionType}">Transmission type</label>
    <br/>
    <select id="dropDownList1" name="transmissionTypeName" required th:field="*{transmissionTypeName}">
        <option value="">select option</option>
        <option th:each="transmissionType : ${transmissionTypes}" th:text="${transmissionType.transmissionTypeName}"
                th:value="${transmissionType.transmissionTypeName}"></option>
    </select>

    <br/><br/>

    <label th:text="#{car.label.registrationDate}">Registration date</label>
    <br/>
    <input placeholder="YYYY-MM-DD" required th:field="*{registrationDate}" type="date"/>
    <label class="error" th:errors="*{registrationDate}">Registration date error placeholder</label>
    <br/><br/>

    <label th:text="#{car.label.remarks}">Remarks</label>
    <br/>
    <textarea cols="50" id="remarks" maxlength="200" name="remarks" rows="4" th:field="*{remarks}"></textarea>
    <br/>
    <label class="error" th:errors="*{remarks}">Remarks error placeholder</label>
    <br/><br/>

    <input type="submit" value="Save"/>
</form>

</body>
</html>