<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fuel type form</title>
</head>
<body>

<form action="#" method="post" th:action="@{__${requestURI}__}" th:fragment="fuel-type-form"
      th:object="${fuelTypeSaveRequest}">
    <label th:text="#{fuel-type.label.fuelTypeName}">Fuel type name</label>
    <br/>
    <input th:field="*{fuelTypeName}" type="text"/>
    <label class="error" th:errors="*{fuelTypeName}">Fuel type name error placeholder</label>
    <br/><br/>

    <input type="submit" value="Save"/>
</form>

</body>
</html>