<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Model form</title>
</head>
<body>

<form action="#" method="post" th:action="@{__${requestURI}__}" th:fragment="model-form"
      th:object="${modelSaveRequest}">
    <label th:text="#{model.label.modelName}">Model name</label>
    <br/>

    <input th:field="*{modelName}" type="text"/>
    <label class="error" th:errors="*{modelName}">Model name error placeholder</label>
    <br/><br/>

    <label th:text="#{brand.label.brandName}">Brand name</label>
    <br/>
    <select id="dropDownList2" th:field="*{brandName}">
        <option value="0">select option</option>
        <option th:each="brand : ${brands}" th:text="${brand.brandName}" th:value="${brand.brandName}"></option>
    </select>
    <br/><br/>
    <input type="submit" value="Save"/>
</form>

</body>
</html>