<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Transmission type form</title>
</head>
<body>

<form th:fragment="transmission-type-form" action="#" th:action="@{__${requestURI}__}" th:object="${transmissionTypeSaveRequest}" method="post">
  <label th:text="#{transmission-type.label.transmissionTypeName}">Transmission type name</label>
  <br/>
  <input type="text" th:field="*{transmissionTypeName}"/>
  <label class="error" th:errors="*{transmissionTypeName}">Transmission type name error placeholder</label>
  <br/><br/>

  <input type="submit" value="Save"/>
</form>

</body>
</html>