<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Start head -->
<head>
    <meta charset="utf-8">
    <title>Transmission types</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <head th:replace="fragments/head :: head"></head>

</head>


<body>

<nav th:replace="/fragments/navbar :: navbar">Header fragment</nav>

<!-- Spinner Start -->
<div class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center"
     id="spinner">
    <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem;">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<!-- Spinner End -->

<!-- Page Header Start -->
<div class="container-fluid page-header mb-5 p-0" style="background-image: url('/img/carousel-bg-2.jpg');">
    <div class="container-fluid page-header-inner py-5">
        <div class="container text-center">
            <h1 class="display-3 text-white mb-3 animated slideInDown">Transmission types</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center text-uppercase">
                    <li class="breadcrumb-item"><a href="#" th:href="@{/}">Home</a></li>
                    <li aria-current="page" class="breadcrumb-item text-white active">Transmission types</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<!-- Page Header End -->


<form action="#" method="get" style="display: flex; flex-wrap: wrap; justify-content: center;" th:action="@{/transmission-types}"
      th:object="${transmissionTypeFilterOptions}">
    <label style="flex-basis: 100%; display: flex; justify-content: center; font-size: 1.7rem;"
           th:text="#{transmission-type.filter.label}">Transmission
        options</label>

    <input placeholder="Transmission type name" style="flex-basis: 20%; margin-right: 1rem; margin-bottom: 1rem;" th:field="*{transmissionTypeName}"
           type="text"/>

    <select style="flex-basis: 20%; margin-right: 1rem; margin-bottom: 1rem;" th:field="*{sortBy}">
        <option value="">Sort by</option>
        <option th:value="transmissionTypeName">Transmission type name</option>
    </select>

    <select style="flex-basis: 20%; margin-right: 1rem; margin-bottom: 1rem;" th:field="*{sortOrder}">
        <option value="">Sort order</option>
        <option th:value="asc">Ascending</option>
        <option th:value="desc">Descending</option>
    </select>

    <input style="flex-basis: 100%; margin-bottom: 1rem;" type="submit" value="Search"/>
</form>


<!-- Section-->
<ul>
    <h4 style="margin-bottom: 50px;"><a href="#"
                                        th:href="@{transmission-types/new}"
                                        th:if="${isAuthenticated}"
                                        th:text="#{navigation.create-transmission-type}">Create a
        transmission type</a>
    </h4>
</ul>


<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Transmission type name</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="transmissionType : ${transmissionTypes}">
                    <td><a href="#" th:href="@{/transmission-types/__${transmissionType.getTransmissionTypeId()}__}"
                           th:text="${transmissionType.transmissionTypeName}">Transmission type name</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>


<footer th:replace="fragments/footer :: footer"></footer>


<!-- Back to Top -->
<a class="btn btn-lg btn-primary btn-lg-square back-to-top" href="#"><i class="bi bi-arrow-up"></i></a>


<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="lib/wow/wow.min.js"></script>
<script src="lib/easing/easing.min.js"></script>
<script src="lib/waypoints/waypoints.min.js"></script>
<script src="lib/counterup/counterup.min.js"></script>
<script src="lib/owlcarousel/owl.carousel.min.js"></script>
<script src="lib/tempusdominus/js/moment.min.js"></script>
<script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

<!-- Template Javascript -->
<script src="js/main.js"></script>

</body>
</html>