<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Transmission type form</title>
</head>
<body>

<form action="#" method="post" th:action="@{__${requestURI}__}"
      th:fragment="transmission-type-form" th:object="${transmissionTypeSaveRequest}">
    <label th:text="#{transmission-type.label.transmissionTypeName}">Transmission type name</label>
    <br/>
    <input th:field="*{transmissionTypeName}" type="text"/>
    <label class="error" th:errors="*{transmissionTypeName}">Transmission type name error placeholder</label>
    <br/><br/>

    <input type="submit" value="Save"/>
</form>

</body>
</html>